*.class
*.info
.idea
*.gz
*.exe
*.o
*.a
.terraform
*.tfstate
*.tfstate.d
#############################
*.CRC
*.crc
*.pyc
*.backup
*.pub
id_rsa
#######################
*.jar
target/
classes/
*.timestamp
